@charset "utf-8";

#wrap{
    background-color: beige;

}
#header{
    width : 1280px;
    height: 268px;
    background-color: gold;
    text-align: center;
}
#container{
    width: 1280px;
    height: 2579px;
    background-color: orange;
    text-align: center;
}
#footer{
    width: 1280px;
    height: 460px;
    background-color: orangered;
    text-align: center;
}
.mx-auto{ /*컨텐츠 가로 가운데 */
    margin: 0 auto;
}